@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h3>Add a new Cuisine!</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name,
new {required="required"})

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description,
new {required="required"})
  <input type="submit" value="Add new cuisine" class="btn btn-dark" />
}
<p>@Html.ActionLink("Show all cuisines", "Index")</p>
